/*COLORES

#000000 - negro
#353231 - gris 
#231e1c - gris oscuro
#fd006a - fuxia
*/


/*GENERAL*/

@font-face {
  font-family:'Octosquares';
  src: url(font/TT\ Octosquares\ Trial\ ExtraLight.ttf);
  font-style: normal;
}

@font-face {
  font-family:'OctosquaresTitle';
  src: url(font/TT\ Octosquares\ Trial\ DemiBold.ttf);
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

span{
  color: #fd006a;
}

body{
  font-family: 'Octosquares';
  background-color: #353231;
  color: #fff;
  overflow-x: hidden;
}

.title{
  font-family: 'OctosquaresTitle';
}

p{
  font-size: 17px;
  color: #d2d2d2;
  margin-bottom: 35px;
}

h2{
  font-size: 40px;
  color: #fd006a;
  line-height: 1.4;
  margin-bottom: 15px;
}

h3{
  font-size: 30px;
  color: #fdfeff;
  line-height: 1.4;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

iframe {
  width: 100%;
}

button {
  padding: 12px;
  background-color: #fd00698a;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fd006a;
}

::selection {
  background-color: #fd006a; /* Color de fondo del texto seleccionado */
  color: white; /* Color del texto seleccionado */
}

/*FIN GENERAL*/


/*HEADER*/

header{
  background-color: #000000;
}

header nav div div ul li {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 30px;
}

.servicios-responsive{
  display: none;
}

.nav-hover:hover {
  transform: scale(1.1);
  transition: all 1s;
}

header nav div a img {
  width: 70px;
}

.dropdown-menu{
  padding: 10px;
}

/*FIN HEADER*/


/*FOOTER*/

footer {
  background-color: #000000;  
}

footer div a img {
  width: 200px;
}

footer div div a img {
  width: 50px;
  margin: 20px;
}

footer div div a img:hover {
  transform: scale(1.3);
  transition: all 1s;
}

footer div p {
  color: #FFFFFF;
}

footer div .home {
  width: 80px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  border-radius: 100px;
}

@media screen and (max-width: 970px) {
  footer div .home {
    display: none;
  }
}

/*FIN FOOTER*/


/*INTRODUCCION*/

.intro-container{
  text-align: center;
}

.intro-img{
  width: 50vh;
  padding-bottom: 50px;
}

.intro-txt{
  text-align: center;
  font-size: 30px;
}

.intro-txt h1{
  font-size: 55px;
  line-height: 1;
  color: #fdfeff;
  margin-bottom: 25px;
}

.intro{
  background-color: #231e1c;
  padding: 50px;
  margin-top: 50px; 
  border-radius: 15px;
}

/*FIN INTRODUCCION*/


/*PRESENTACION*/

.presentation{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.present-container{
  background-color: #231e1c;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.present-container h3{
  color: #fff;
  font-size: 25px;
}

.present-container p{
  margin-bottom: 20px;
  margin-top: -10px;
}

.present-container a{
  color: #fff;
  text-decoration: none;
}

.presentation-img{
  width: 50vh;
}

.linkedin:hover{
  cursor: pointer;
  background: linear-gradient(
      90deg,
      #fd006a 0%,
      #fd006a 100%
  );
}

/*FIN PRESENTACION*/


/*VIDEOS PRESENTACION*/

.presentation-videos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.videos-container{
  background-color: #231e1c;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

/*FIN VIDEOS PRESENTACION*/


/*INDEX SEVICIOS*/

.services{
  margin-bottom: 30px;
  text-align: center;
}

.services-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services-1{
  background-color: #231e1c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.services-1:hover{
  background: linear-gradient(
    90deg,
    #fd006a 0%,
    #fd006a 100%);
  cursor: pointer;
}

.services-1 img{
  width: 60px;
  margin-bottom: 10px;
}

.services-1 h3{
  color: #fdfeff;
  margin-bottom: 15px;
}

.servicios{
  background-color: #231e1c;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 30px auto;
}

/*FIN INDEX SEVICIOS*/


/*QUIENES SOMOS*/

.info-quienessomos{
  text-align: center;
  margin-top: 50px;
}

/*FIN QUIENES SOMOS*/


/*CONFERENCIANTES*/

.presentation-conf{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*  display: grid;
  grid-template-columns: repeat(3, 1fr);*/

.conferen{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  max-width: 100%; /* Asegura que no se desborde */
  padding: 10px;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-sizing: border-box;
  text-align: center;
}

.conferenciantes{
  background-color: #353231;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.conferenciantes p{
  margin-bottom: 10px;
  margin-top: 20px;
}

/*FIN CONFERENCIANTES*/


/*CONTACTO*/
 
.contact {
  background-color: #353231;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form-container {
  background-color: #231e1c;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

.success-message {
  display: none;
  color: #fd006a;
  margin-top: 20px;
}

.error-message {
  display: none;
  color: #fd006a;
  margin-top: 20px;
}

/*FIN CONTACTO*/


/*RESPONSIVE*/

@media(max-width:991px){
    
  .btn-group{
    display: none;
  }

  .header{
    min-height: 0vh;
    padding: 80px 30px 50px 30px;
  }

  .presentation{
    margin-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .present-container{
    margin:  0 0 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .presentation-videos{
    margin-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .services-container{
    margin-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  /*.conferen{
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin:  0 0 20px 0;
    flex-direction: column;
    text-align: center;
  }*/

  .services{
    padding: 0 30px 30px 30px;
  }

  .footer{
    padding: 30px;
  }

  .footer-content{
    flex-direction: column;
    text-align: center;
  }

  .link{
    margin-bottom: 10px;
  }
}


@media (max-width: 768px) {
  .contact-form-container {
    padding: 20px;
  }

  .form-group input, .form-group textarea {
    font-size: 14px;
  }
  
  button {
    font-size: 14px;
  }

  .conferen {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (max-width: 480px) {
  .conferen {
    grid-template-columns: 1fr; /* 1 columna */
  }
}
