/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*/

/*Colores

#000000
#353231
#231e1c
#687cef
#fd006a  fuxia
*/

/*General*/

@font-face {
    font-family: 'octosquares'; /* Nombre de la fuente */
    src: url('font/tt_octosquares/TT\ Octosquares\ Trial\ Black.ttf') format('ttf'), /* Ruta a la fuente en formato WOFF2 */
         url('font/tt_octosquares/TT\ Octosquares\ Trial\ Bold.ttf') format('ttf');   /* Ruta a la fuente en formato WOFF */
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

span{
    color: #fd006a;
}

body{
    font-family: 'octosquares'!important;
    background-color: #353231;
    color: #fff
}

p{
    font-size: 17px;
    color: #d2d2d2;
    margin-bottom: 35px;
}

h2{
    font-size: 40px;
    color: #fdfeff;
    line-height: 1.4;
    margin-bottom: 15px;
}

h3{
    font-size: 30px;
    color: #fdfeff;
    line-height: 1.4;
    margin-bottom: 15px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/

header{
    background-color: #000000;
}

header nav div div ul li {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 30px;
}


.nav-hover:hover {
    transform: scale(1.1);
    transition: all 1s;

}

header nav div a img {
    width: 70px;
}

/*Fin de Header*/


/*Introduccion*/

.cont{
    text-align: center;
}

.intro-img{
    width: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro-txt{
    text-align: center;
    padding: 0 100px;
}

.intro-txt h1{
    font-size: 55px;
    line-height: 1;
    color: #fdfeff;
    margin-bottom: 25px;
}

.present{
    background-color: #231e1c;
    padding: 50px;
    margin-top: 50px; 
}

/*Fin de Introduccion*/


/*Presentacion*/

.presentation{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.presentation-1{
    margin: 0 10px;
    background-color: #231e1c;
    padding: 15px;
    border-radius: 15px;
}

.presentation-1 h3{
    color: #fff;
    font-size: 25px;
}

.presentation-1 p{
    margin-bottom: 1px;
}

.presentation-1 a{
    color: #fff;
    text-decoration: none;
}

.presentation-img{
    width: 50vh;
}

.linkedin:hover{
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(37,118,250,1) 0%,
        rgba(84,115,237,1) 100%
    );
}

/*Fin de Presentacion*/


/*Nuestros Servicios*/

.services{
    padding: 0 0 120px 0;
    text-align: center;
}

.services-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.services-1{
    background-color: #231e1c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-1:hover{
    background: linear-gradient(
        90deg,
        #fd006a 0%,
        #fd006a 100%
    );
    cursor: pointer;
}

.services-1 img{
    width: 30px;
    margin-bottom: 10px;
}

.services-1 h3{
    color: #fdfeff;
    margin-bottom: 15px;
}

/*Fin de Nuestros Servicios*/


/*Footer*/

footer {
    background-color: #000000;  
}

  footer div a img {
    width: 200px;
  }

  footer div div a img {
    width: 50px;
    margin: 20px;
  }
  footer div div a img:hover {
    transform: scale(1.3);
    transition: all 1s;
  }
  footer div p {
    color: #FFFFFF;
  }
  footer div .home {
    width: 80px;
    position: fixed;
    bottom: 80px;
    right: 80px;
    border-radius: 100px;
  }
  @media screen and (max-width: 970px) {
    footer div .home {
      display: none;
    }
  }
  

/*Fin de Footer*/


@media(max-width:991px){
    


    .header{
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }


    .presentation{
        margin-top: 0;
        padding: 30px;
        flex-direction: column;
    }

    .presentation-1{
        margin:  0 0 20px 0;
                flex-direction: column;
        text-align: center;
    }

    .services{
        padding: 0 30px 30px 30px;
    }

    .services-content{
        margin-bottom: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    
    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .link{
        margin-bottom: 10px;
    }

}